body {
    background-color: #f7f7f7;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
div#left{
	position:fixed;
	width:22%;
	height:100%;
	overflow:hidden;
}
div#head{
	font-family:Trebuchet MS, Helvetica, sans-serif;
	margin-left:20%;
	margin-right:10%;
	margin-top:70px;
	width:75%;
}
div#bio{
	font-family:Arial, Helvetica, sans-serif;
	margin-left:20%;
	margin-right:10%;
	margin-top:13%;
	width:70%;
}
div#nav{
	font-family:Trebuchet MS, Helvetica, sans-serif;
	margin-left:20%;
	margin-right:10%;
	margin-top:13%;
	width:75%;
}
div#copyright{
	font-family:Trebuchet MS, Helvetica, sans-serif;
	margin-left:20%;
	margin-right:10%;
	margin-top:150%;
	margin-bottom:0px;
	width:75%;
}
div#content{
	position:fixed;
	font-family:Trebuchet MS, Helvetica, sans-serif;
	margin-left:22%;
	margin-top:0;
	width:78%;
	height:100%;
	overflow:auto;
}
div#grid{
	display: inline-block;
	width:210px;
	height:280px;
	margin-bottom:10px;
	margin-left:25px;
	overflow:hidden;
}
div#img{
	background-color:#e9eaf0;
	display: block;
	width:100%;
	height:210px;
	overflow:hidden;
}
div#caption{
	width:100%;
	height:70px;
	overflow:hidden;
	text-align:center;
}
div#page0{
	padding-top:70px;
	height:100%;
}
div#page1{
	padding-top:70px;
	height:100%;
}
a{
	font-size: 8pt;
    text-decoration: none;
}
a:link {
	color:grey;
}

a:visited {
	color:grey;
}

a:hover {
	color:lightgrey;
}

a:active {
	color:white;
} 
img#project{
  -webkit-filter: grayscale(80%)  opacity(0.8);
  filter:   grayscale(80%) opacity(0.8) ;
}
img#project:link {
}

img#project:visited {
}

img#project:hover{
  -webkit-filter: grayscale(0) saturate(1.2) ;
  filter:   grayscale(0) saturate(1.2) ;
}

img#project:active {
  -webkit-filter: opacity(0.1) saturate(4) ;
  filter:   opacity(0.1) saturate(4) ;
} 
h1 {
	font-size: 18pt;
    color: #404040;
    text-align: left;
}

h2 {
	font-size: 8pt;
    color:lightgrey;
    text-align: left;
}
h2#title{
	font-family:Trebuchet MS, Helvetica, sans-serif;
	font-size: 8pt;
    color:grey;
	text-align:center;
}
h2#title:hover{
	color:#f1a0a0;
}
h2#caption{
	font-size: 8pt;
    color:lightgrey;
	text-align:center;
}
